<mat-list-item>
  <p mat-line>
    <mat-icon>folder</mat-icon>
    <a [routerLink]="['/', 'folders', 'edit', data.folderId]">{{data.name}}</a>
    <ng-container *ngIf="!readOnly">
      <button (click)="remove()" mat-button mat-icon-button matTooltip="Remove the affiliation">
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
  </p>
</mat-list-item>
