<form [formGroup]="fgAddress">
  <div class="children-use-half-width">
    <mat-form-field>
      <input formControlName="url" matInput placeholder="Web" required>
    </mat-form-field>
    <ng-container *ngIf="advancedEditingOn">
      <mat-form-field>
        <input formControlName="tags" matInput placeholder="Tags">
      </mat-form-field>
    </ng-container>
    <button (click)="remove()" mat-button mat-icon-button matTooltip="Remove the address">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</form>
