.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

button {
  margin: 0 5px 0 5px
}

mat-icon {
  margin-right: 5px;
}
