<form [formGroup]="form.fgFolder">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matListIcon>folder</mat-icon>
          <ng-container *ngIf="folderId">{{model.name}}</ng-container>
          <ng-template #noNameDefined>Dossier</ng-template>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required #name>
            <mat-hint align="end">{{name.value.length}} / 60</mat-hint>
          </mat-form-field>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matListIcon>people</mat-icon>
          Affiliés
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="example-container">
          <app-affiliate-list 
            [folderId]="folderId"
            [primaryAffiliate]="model.primaryAffiliate"
            [readOnly]="false"
            (onPromote)="onAffiliatePromoted($event)"></app-affiliate-list>
          <app-customer-selector (onSelect)="onAffiliateSelected($event)"></app-customer-selector>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matListIcon>attachment</mat-icon>
          Complément
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="example-container">
          <mat-form-field>
            <textarea matInput placeholder="Leave a comment" formControlName="notes" mat-autosize></textarea>
            <button (click)="form.resetNotes()" aria-label="Reset" mat-button mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</form>

<mat-action-row>
  <button mat-raised-button (click)="cancelEdition()">
    <mat-icon>arrow_back</mat-icon>Retour
  </button>
  <button *ngIf="canBeSubmitted()" mat-raised-button color="primary" (click)="submitForm()">
    <ng-template [ngIf]="folderId" [ngIfElse]="creation">
      <mat-icon>check</mat-icon>
      Enregistrer
    </ng-template>
    <ng-template #creation>
      <mat-icon>add</mat-icon>
      Nouveau
    </ng-template>
  </button>
</mat-action-row>