<div class="layout">

  <ng-container *ngIf="(model$ | async) as model; else loading">

    <mat-list dense>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <p mat-line>{{model.name}}</p>
      </mat-list-item>
    </mat-list>

    <mat-list dense>
      <app-affiliate-list [folderId]="id" [primaryAffiliate]="model.primaryAffiliate"></app-affiliate-list>
    </mat-list>

    <mat-list dense>
      <mat-list-item *ngIf="model.audit?.createdAt">
        <mat-icon matListIcon>create</mat-icon>
        <p mat-line>{{model.audit?.createdAt | date: 'dd.mm.yyyy'}} ({{model.audit?.createdBy}})</p>
      </mat-list-item>
      <mat-list-item *ngIf="model.audit?.updatedAt">
        <mat-icon matListIcon>update</mat-icon>
        <p mat-line>{{model.audit?.updatedAt | date: 'dd.mm.yyyy'}} ({{model.audit?.updatedBy}})</p>
      </mat-list-item>
    </mat-list>

    <div class="toolbar">
      <button (click)="modifyFolder()" *ngIf="model.canBeModified" mat-raised-button matTooltip="Modify the folder">
        <mat-icon matListIcon>create</mat-icon>
        Modifier
      </button>
      <button (click)="removeFolder()" *ngIf="model.canBeRemoved" mat-raised-button matTooltip="Remove the folder">
        <mat-icon matListIcon>clear</mat-icon>
        Supprimer
      </button>
    </div>
  </ng-container>

  <ng-template #loading>
    Chargement...
  </ng-template>
</div>

