<div class="children-use-full-width">
  <mat-form-field>
    <input [formControl]="fcCustomer" [matAutocomplete]="auto" aria-label="Customer" matInput
           placeholder="Sélectionner client"
           type="text">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let customer of candidates$ | async" [value]="customer">
        {{customer.person.lastName}} {{customer.person.firstName}}
      </mat-option>
    </mat-autocomplete>
    <button (click)="reset()" aria-label="Clear" mat-button mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button (click)="select()" *ngIf="canBeApplied()" mat-raised-button mat-icon-button matTooltip="Select the customer">
    <mat-icon>add</mat-icon>
  </button>
</div>
