<mat-accordion>
  <mat-expansion-panel (afterCollapse)="model.personTabExpanded = false" [expanded]="model.personTabExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matListIcon>person</mat-icon>
        <ng-container *ngIf="model.person; else noPersonDefined">
          {{model.person.lastName}} {{model.person.firstName}}</ng-container>
        <ng-template #noPersonDefined>Personne</ng-template>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="children-use-full-width">
      <app-person-selector *ngIf="model.togglePersonSearchOn" (onSelect)="onPersonSelected($event)"></app-person-selector>
    </div>
    <ng-container *ngIf="model.person">
      <form [formGroup]="form.fgPerson">
        <div class="children-use-full-width">
          <mat-form-field>
            <input #lastName formControlName="lastName" matInput placeholder="Last name" required>
            <mat-hint align="end">{{lastName.value.length}} / 60</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input #firstName formControlName="firstName" matInput placeholder="First name">
            <mat-hint align="end">{{firstName.value.length}} / 60</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input [matAutocomplete]="auto" formControlName="salutation" matInput placeholder="Salutation">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let salutation of salutation" [value]="salutation">{{salutation}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <ng-container *ngIf="model.personAdvancedEditingOn">
            <mat-form-field>
              <input [matDatepicker]="dateNaissancePicker" formControlName="birthDate" matInput placeholder="Date naissance">
              <mat-datepicker-toggle [for]="dateNaissancePicker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dateNaissancePicker></mat-datepicker>
            </mat-form-field>
          </ng-container>
        </div>
      </form>
    </ng-container>

    <mat-action-row>
      <button (click)="togglePersonSearch()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button (click)="togglePersonAdvancedEditing()" mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="model.addressTabExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matListIcon>location_on</mat-icon>
        Adresses
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="children-use-full-width">
      <app-address-selector *ngIf="model.toggleAddressSearchOn" (onSelect)="onAddressSelected($event)"></app-address-selector>
      <app-address-list-edit (onAdd)="onAddressAdded($event)" (onRemove)="onAddressRemoved($event)"></app-address-list-edit>
    </div>

    <mat-action-row>
      <button (click)="toggleAddressSearch()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button (click)="toggleAddressAdvancedEditing()" mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matListIcon>attachment</mat-icon>
        Profile
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form.fgProfile">
      <div class="children-use-full-width">
        <div>
          <mat-checkbox formControlName="hasMoved">Has moved</mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName="isSubcontractor">Is subcontractor</mat-checkbox>
        </div>
        <div>
          <mat-checkbox formControlName="sendInvitation">Send invitation</mat-checkbox>
        </div>
        <mat-form-field>
          <textarea formControlName="notes" mat-autosize matInput placeholder="Leave a comment"></textarea>
          <button (click)="form.resetNotes()" aria-label="Reset" mat-button mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon matListIcon>folder</mat-icon>
        Dossiers
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="children-use-full-width">
        <app-affiliation-list [customerId]="customerId" (onRemove)="onAffiliationRemoved($event)"></app-affiliation-list>
        <app-folder-selector (onSelect)="onAffiliationSelected($event)"></app-folder-selector>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>

<mat-action-row>
  <button mat-raised-button (click)="cancelEdition()">
    <mat-icon>arrow_back</mat-icon>
    Retour
  </button>
  <button *ngIf="canBeSubmitted()" mat-raised-button color="primary" (click)="submitForm()">
    <ng-template [ngIf]="customerId" [ngIfElse]="creationBar">
      <mat-icon>check</mat-icon>
      Enregistrer
    </ng-template>
    <ng-template #creationBar>
      <mat-icon>add</mat-icon>
      Nouveau
    </ng-template>
  </button>
</mat-action-row>
