  <mat-list-item>
    <p mat-line>
      <mat-icon matListIcon>person</mat-icon>
      <a [routerLink]="['/', 'customers', 'edit', id]">{{data.person.firstName}} {{data.person.lastName}}</a>
      <ng-container *ngIf="!readOnly">
        <button (click)="remove()" mat-button mat-icon-button matTooltip="Remove the affiliate">
          <mat-icon>close</mat-icon>
        </button>
        <button *ngIf="!isPrimary" (click)="promote()" mat-button mat-icon-button
          matTooltip="Promote the affiliate">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </ng-container>
    </p>
  </mat-list-item>