<ng-container *ngFor="let item of items; trackBy: trackByItemId" [ngSwitch]="item.data.type">
  <div class="children-use-full-width">
    <app-postal-address-edit #listItem *ngSwitchCase="'POSTAL'" [id]="item.id" [data]="item.data"
      (onRemove)="removeData(item.id)" [advancedEditingOn]="advancedEditingOn">
    </app-postal-address-edit>
    <app-phone-address-edit #listItem *ngSwitchCase="'PHONE'" [id]="item.id" [data]="item.data"
      (onRemove)="removeData(item.id)" [advancedEditingOn]="advancedEditingOn">
    </app-phone-address-edit>
    <app-email-address-edit #listItem *ngSwitchCase="'EMAIL'" [id]="item.id" [data]="item.data"
      (onRemove)="removeData(item.id)" [advancedEditingOn]="advancedEditingOn">
    </app-email-address-edit>
    <app-web-address-edit #listItem *ngSwitchCase="'WEB'" [id]="item.id" [data]="item.data"
      (onRemove)="removeData(item.id)" [advancedEditingOn]="advancedEditingOn">
    </app-web-address-edit>
  </div>
</ng-container>