<ng-container *ngFor="let affiliate of items">
  <app-affiliate-list-item #listItem 
    [id]="affiliate.id" 
    [data]="affiliate.data"
    [isPrimary]="affiliate.isPrimary"
    [readOnly]="readOnly"
    (onRemove)="removeData($event)"
    (onPromote)="promoteAffiliate($event)"></app-affiliate-list-item>
</ng-container>