/* Large */
.layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.toolbar > button {
  margin: 0 5px 0 5px
}

/* Small screens */
@media all and (max-width: 800px) {
  .layout {
    flex-direction: column;
  }
}
