<div class="layout">

  <ng-container *ngIf="(model$ | async) as model; else loading">

    <mat-list dense>
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        <p mat-line>{{model.person.name()}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="model.person.salutation">
        <mat-icon matListIcon>person</mat-icon>
        <p mat-line>{{model.person.salutation}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="model.person.birthDate">
        <mat-icon matListIcon>person</mat-icon>
        <p mat-line>{{model.person.birthDate | date: 'dd/MM/yyyy'}}</p>
      </mat-list-item>
    </mat-list>

    <mat-list dense>
      <app-affiliation-list [customerId]="id"></app-affiliation-list>
    </mat-list>

    <mat-list dense>
      <ng-container *ngFor="let address of model.addresses">
        <app-address-list-item [data]="address"></app-address-list-item>
      </ng-container>
    </mat-list>

    <mat-list dense>
      <mat-list-item *ngIf="model.profile?.hasMoved">
        <mat-icon matListIcon>check</mat-icon>
        <p mat-line>Has moved</p>
      </mat-list-item>
      <mat-list-item *ngIf="model.profile?.isSubcontractor">
        <mat-icon matListIcon>check</mat-icon>
        <p mat-line>Is subcontractor</p>
      </mat-list-item>
      <mat-list-item *ngIf="model.profile?.sendInvitation">
        <mat-icon matListIcon>check</mat-icon>
        <p mat-line>Send invitation</p>
      </mat-list-item>
    </mat-list>

    <mat-list dense>
      <mat-list-item *ngIf="model.audit?.createdAt">
        <mat-icon matListIcon>create</mat-icon>
        <p mat-line>{{model.audit?.createdAt | date: 'dd.mm.yyyy'}} ({{model.audit?.createdBy}})</p>
      </mat-list-item>
      <mat-list-item *ngIf="model.audit?.updatedAt">
        <mat-icon matListIcon>update</mat-icon>
        <p mat-line>{{model.audit?.updatedAt | date: 'dd.mm.yyyy'}} ({{model.audit?.updatedBy}})</p>
      </mat-list-item>
    </mat-list>

    <div class="toolbar">
      <button (click)="modifyCustomer()" *ngIf="model.canBeModified" mat-raised-button matTooltip="Modify the customer">
        <mat-icon matListIcon>create</mat-icon>
        Modifier
      </button>
      <button (click)="removeCustomer()" *ngIf="model.canBeRemoved" mat-raised-button matTooltip="Remove the customer">
        <mat-icon matListIcon>clear</mat-icon>
        Supprimer
      </button>
    </div>
  </ng-container>

  <ng-template #loading>
    Chargement...
  </ng-template>
</div>
