<form [formGroup]="fgAddress">
  <div class="children-use-half-width">
    <mat-form-field>
      <input formControlName="street" matInput placeholder="Street">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="houseNbr" matInput placeholder="House">
    </mat-form-field>
    <button (click)="remove()" mat-button mat-icon-button matTooltip="Remove the address">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-form-field>
      <input formControlName="zip" matInput placeholder="Zip">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="city" matInput placeholder="City">
    </mat-form-field>
    <ng-container *ngIf="advancedEditingOn">
      <mat-form-field>
        <input formControlName="tags" matInput placeholder="Tags">
      </mat-form-field>
    </ng-container>
  </div>
</form>
