<ng-container *ngFor="let affiliation of items">
  <app-affiliation-list-item #listItem
  [id]="affiliation.id" 
  [data]="affiliation.data"
  [readOnly]="readOnly"
  (onRemove)="removeData($event)"></app-affiliation-list-item>
</ng-container>