<div class="children-use-full-width">
  <mat-form-field>
    <input [formControl]="fcAddress" matInput placeholder="Address">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-form-field *ngIf="hasSeveralZips()">
    <mat-select [formControl]="fcZipSelection" placeholder="Select zip ({{selectableZips.length}} values)">
      <mat-option *ngFor="let zipCity of selectableZips" [value]="zipCity[0]">
        {{zipCity[0]}} {{zipCity[1]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="hasSeveralAddresses()">
    <mat-select [formControl]="fcPostalAddressSelection"
                placeholder="Select street ({{selectablePostalAddresses.length}} values)">
      <mat-option *ngFor="let address of selectablePostalAddresses" [value]="address">
        {{address.street}}, {{address.zip}} {{address.city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
